<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title || 'Frog Adventure Web' %></title>
  <link rel="stylesheet" href="/css/style.css?v=<%= Time.now.to_i %>">
  <% if request.path == '/game' %>
  <link rel="stylesheet" href="/css/game.css?v=<%= Time.now.to_i %>">
  <% end %>
</head>
<body>
  <% if request.path == '/game' %>
    <%= yield %>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>
  <script src="/js/app.js?v=<%= Time.now.to_i %>"></script>
  <% if request.path == '/game' %>
  <script src="/js/game.js?v=<%= Time.now.to_i %>"></script>
  <% end %>
</body>
</html>